<div class="headerContentWrapper">
    <button id="menu-toggle" class="btn btn-primary">Rechercher un criminel</button>
    <div class="btn-group buttonZIndex">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a data-toggle="modal" data-target="#criminalModal" data-whatever="criminal">Ajouter un nouveau criminel au fichier de l'ENIB</a></li>
        <li class="divider"></li>
        <li><a>Modifier le profil</a></li>
        <li><a>Déconnexion</a></li>
      </ul>
    </div>
</div>
<div class="container wrapper animation">
	<nav class="sidebar-wrapper animation">
		<div class="searchInput">
      <div class="sidebar-nav">
        <form role="form" >
          <h3>Chercher un criminel: </h3>
          <div class="form-group">
            <label>Nom et/ou prénom:</label><br/>
            <input type="text" ng-model="search.name" class="searchBar" placeHolder="Nom/Prénom" autofocus><br/>
          </div>
          <div class="form-group">
            <label>Date de naissance:</label><br/>
            <input type="date" ng-model="search.birth" class="searchBar"><br/>
          </div>
          <div class="form-group">
            <label>Taille:</label><br/>
            <input type="number" ng-model="search.size" class="searchBar" placeHolder="cm" onkeypress="return isNumberKey(event)">   
          </div> 
          <div class="progress">
            <div id="SearchAccuracyBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': accuracyBarValue}">
              Précision
            </div>
          </div>
        </form> 
      <br/>   
      </div>
		</div>
		<div>
		</div>
	</nav>
  <h3>Listes des criminels</h3>
	<div id="listOfCriminal" class="page-content-wrapper">
  		<ul class="criminal row">
  			<li ng-repeat="criminal in criminals" class="displayEachCriminal col-lg-3 col-md-4 col-sm-5 col-xs-6">
  				<!-- <table> -->
            <!-- <aside>  -->
              <img class="smallPicture img-rounded" src="./criminals/picture/{{criminal.picture}}">
            <!-- </aside>
  					<a href="#/search/{{criminal.id}}">
              <span>{{criminal.firstname}} {{criminal.lastname}}</span>
              <p>Crime commit: {{criminal.offense}}</p>
            </a>
  				</table> -->
  			</li>
  		</ul>
	</div>
  <nav>
  <ul class="pagination">
    <li><a href="#search"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
    <li><a href="#search">1</a></li>
    <li><a href="#search"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
  </ul>
</nav>
</div>
<div class="modal fade" id="criminalModal" tabindex="-1" role="dialog" aria-labelledby="criminalModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Ajouter un criminel</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Nom:</label>
            <input type="text" class="form-control" id="recipient-name" ng-model="criminal.lastname" required>
          </div>
          <div class="form-group">
            <label for="recipient-firstname" class="control-label">Prénom:</label>
            <input type="text" class="form-control" id="recipient-firstname" ng-model="criminal.firstname" required>
          </div>
          <div class="form-group">
            <label for="date-of-birth" class="control-label">Date de naissance:</label>
            <input type="date" class="form-control" id="recipient-name" ng-model="criminal.birthday" required>   
          </div>
          <div class="form-group">
            <label for="date-of-birth" class="control-label">Sexe:</label><br/>
            <input type="radio" ng-model="criminal.gender" value="male"/> Homme<br/>
    		    <input type="radio" ng-model="criminal.gender" value="female"/> Femme
          </div>     
          <div class="form-group">
            <label for="message-text" class="control-label">Photo:</label>
            <input type="file" name="picture" accept="image/*" size="40" ng-model="criminal.picture">
          </div>         
          <div class="form-group">
            <label for="message-text" class="control-label">Délit:</label>
            <textarea class="form-control" id="message-text" ng-model="criminal.offense" required></textarea>
          </div>
  	      <div class="modal-footer">
  	        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
  	        <button type="submit" class="btn btn-primary" ng-click="savedata(criminal)" >Ajouter le criminel</button>
  	      </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="criminalLightDetail" tabindex="-1" role="dialog" aria-labelledby="criminalLightDetail" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">  
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Détail du profil du criminel {{criminalSelected.lastname}}</h4>
      </div>       
      <div class="modal-body"> 
      </div>
    </div>
  </div>
</div>