.animation{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.wrapper.toggled {
    padding-left: 200px;
}

.wrapper {
    padding-left: 0;
    padding-right: 0;
}

.sidebar-wrapper {
    z-index: 1;
    position: fixed;
    left: 16vw;
    width: 0;
    height: 100%;
    margin-left: 0px;
    overflow-y: auto;
}

.wrapper.toggled .sidebar-wrapper {
    width: 250px;
}

.page-content-wrapper{
    position: relative;
    height: 70vh;
    right: 0;
    float: right;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.page-content-wrapper.toggled{
    /*width: 100vw;*/
    top: 0;
}